## Clean film script dataset and find matching IMDb_id

Description: load in raw dataset of film scripts obtained from webscrapers, clean any inconsistencies or mistakes, assign each film script an IMDb_id based on title or by manual insert. Functions to continually update the dataset at later times are provided at the end of the notbook (similar to SQLs UPDATE command)

In [4]:
import pandas as pd
import numpy as np
import requests
from matplotlib import pyplot as plt
import pickle
import time

In [7]:
# import film script dataset
path_to_csv = '../database_film_scripts/scraped_scripts/springfield_movie_scripts_2023_01_13.csv' 
df_orig = pd.read_csv(path_to_csv, index_col=[0])

df_orig.head()

,Movie Title,Movie Script Link,Script Text
0,A 2nd Hand Lover (2015),https://www.springfieldspringfield.co.uk/movie...,Wow! Amazing! What a beautiful place. Im meet...
1,A Aa (2016),https://www.springfieldspringfield.co.uk/movie...,"3 My every birthday, Mom hopes for something...."
2,A Baby at Any Cost (2022),https://www.springfieldspringfield.co.uk/movie...,"0 Jen? Jen? Jen? Oops... sorry! Jason? Oh, sh..."
3,A Bad Idea Gone Wrong (2017),https://www.springfieldspringfield.co.uk/movie...,"1 - The tropical places, you know, thats the ..."
4,A Bad Moms Christmas (2017),https://www.springfieldspringfield.co.uk/movie...,"1 My name is Amy Mitchell, and this year Ive ..."

In [8]:
# create Movie Year feature using information from Movie Title column
df_orig["Movie Year"] = df_orig["Movie Title"].map(lambda x: x[-5:-1])
df_orig["Movie Title"] = df_orig["Movie Title"].map(lambda x: x[0:-6])

# manually inspect and fix data errors such as movie being released in year 0000 or 0147
print(df_orig["Movie Year"].unique())
print()
print(df_orig.loc[df_orig["Movie Year"] == "0147", ["Movie Title", "Movie Year"]])

# manually go in and fix the spotted errors. Use IMDb to find correct information
df_orig.loc[12856, "Movie Title"] = "Hollows Grove"
df_orig.loc[12224, "Movie Title"] = "Alien Battlefield Earth"
df_orig.loc[8151, "Movie Title"] = "Disappearance"

df_orig.loc[df_orig["Movie Year"] == "0000", "Movie Year"] = "1986"
df_orig.loc[df_orig["Movie Year"] == "2050", "Movie Year"] = "2017"
df_orig.loc[df_orig["Movie Year"] == "0147", "Movie Year"] = "2014"
df_orig.loc[df_orig["Movie Year"] == "arth", "Movie Year"] = "2021"

# df_orig["Movie Year"] = df_orig["Movie Year"].astype("int")

# reorder and rename columns
df_orig = df_orig[["Movie Title", "Movie Year", "Movie Script Link", "Script Text"]]
df_orig.columns = ['movie_title', 'movie_year', 'springfield_link', 'script_text']
df_orig.head()

['2015' '2016' '2022' '2017' '2011' '2012' '2021' '2004' '2019' '2010'
 '2014' '2020' '1966' '1932' '2013' '1968' '2018' '2009' '1969' '1991'
 '1998' '2008' '2003' '1967' '1965' '1984' '1999' '1983' '1940' '1987'
 '1971' '1949' '2006' '1956' '1937' '1948' '1928' '1997' '1973' '2000'
 '1989' '1957' '1993' '1935' '1992' '1931' '1945' '1952' '1990' '1943'
 '1986' '1955' '1995' '1962' '2001' '1950' '1979' '2005' '1994' '1941'
 '1946' '1982' '2007' '1913' '1958' '1985' '1978' '1961' '1972' '1974'
 '1938' '1976' '1963' '1960' '1951' '1933' '2002' '1975' '1936' '1988'
 '1942' '1977' '1953' '1954' '1930' '1981' '1980' '1964' '1970' '1939'
 '1996' '1944' '1959' '1910' '2023' '1947' '1934' '1915' '1926' '1922'
 '1929' '1914' '1916' '1920' '0000' '2050' '1921' '1924' '1927' '1925'
 'arth' '0147' '1923' '1912' '1917' '1919' '1918']

           Movie Title Movie Year
12856  Hollows Grove (       0147

,Movie Title,Movie Year,Movie Script Link,Script Text
0,A 2nd Hand Lover,2015,https://www.springfieldspringfield.co.uk/movie...,Wow! Amazing! What a beautiful place. Im meet...
1,A Aa,2016,https://www.springfieldspringfield.co.uk/movie...,"3 My every birthday, Mom hopes for something...."
2,A Baby at Any Cost,2022,https://www.springfieldspringfield.co.uk/movie...,"0 Jen? Jen? Jen? Oops... sorry! Jason? Oh, sh..."
3,A Bad Idea Gone Wrong,2017,https://www.springfieldspringfield.co.uk/movie...,"1 - The tropical places, you know, thats the ..."
4,A Bad Moms Christmas,2017,https://www.springfieldspringfield.co.uk/movie...,"1 My name is Amy Mitchell, and this year Ive ..."

In [10]:
# clean up title names: remove white space and convert 'title, the' to 'the title'
df_orig['movie_title'] = df_orig['movie_title'].str.strip()
df_orig['movie_title'] = ['The ' + jmovie_title[0:-5] if jmovie_title.endswith(', The') else jmovie_title for jmovie_title in df_orig['movie_title']]

In [11]:
# inspect movies with duplicate name and year
duplicates = df_orig[["movie_title", "movie_year"]].value_counts()
duplicates = duplicates[duplicates > 1]
print(len(duplicates))
for jmovie in duplicates.index:
    print(df_orig.query("movie_title == @jmovie[0] and movie_year == @jmovie[1]"))
    print()

60
                          movie_title movie_year  \
24535  The Seeker: The Dark Is Rising       2007
30621  The Seeker: The Dark Is Rising       2007

                                        springfield_link  \
24535  https://www.springfieldspringfield.co.uk/movie...
30621  https://www.springfieldspringfield.co.uk/movie...

                                             script_text
24535   - We go, let us leave of here. - The school f...
30621   - We go, let us leave of here. - The school f...

            movie_title movie_year  \
13161  The House of Yes       1997
29096  The House of Yes       1997

                                        springfield_link  \
13161  https://www.springfieldspringfield.co.uk/movie...
29096  https://www.springfieldspringfield.co.uk/movie...

                                             script_text
13161   Ill always remember that day. Marty and I had...
29096   Ill always remember that day. Marty and I had...

      movie_title movie_year  \
8625   The Driver       1978
28403  The Driver       1978

                                        springfield_link  \
8625   https://www.springfieldspringfield.co.uk/movie...
28403  https://www.springfieldspringfield.co.uk/movie...

                                             script_text
8625    [ Engine Starts] [ Male Caller] We open now a...
28403   [Engine Starts] [Male Caller] We open now at ...

        movie_title movie_year  \
4112   The Blue Max       1966
27799  The Blue Max       1966

                                        springfield_link  \
4112   https://www.springfieldspringfield.co.uk/movie...
27799  https://www.springfieldspringfield.co.uk/movie...

                                             script_text
4112    Out of the way! Clear the way! Move! Move! Th...
27799   2 - Up! Up! - Push! - Come on! - Push! Move o...

      movie_title movie_year  \
31360   The Women       2008
34413   The Women       2008

                                        springfield_link  \
31360  https://www.springfieldspringfield.co.uk/movie...
34413  https://www.springfieldspringfield.co.uk/movie...

                                             script_text
31360   Get that thing away. Has that ugly mutt had i...
34413   Get that thing away. Has that ugly mutt had i...

            movie_title movie_year  \
26018  The Spy in Black       1939
30775  The Spy in Black       1939

                                        springfield_link  \
26018  https://www.springfieldspringfield.co.uk/movie...
30775  https://www.springfieldspringfield.co.uk/movie...

                                             script_text
26018   Newspaper. - Is it true? - Look yourself, sir...
30775   Newspaper. - Is it true? - Look yourself, sir...

      movie_title movie_year  \
20936  The Others       2001
30096  The Others       2001

                                        springfield_link  \
20936  https://www.springfieldspringfield.co.uk/movie...
30096  https://www.springfieldspringfield.co.uk/movie...

                                             script_text
20936   GRACE: Now, children, are you sitting comfora...
30096   GRACE: Now, children, are you sitting comfort...

            movie_title movie_year  \
23375  The River's Edge       1957
30493  The River's Edge       1957

                                        springfield_link  \
23375  https://www.springfieldspringfield.co.uk/movie...
30493  https://www.springfieldspringfield.co.uk/movie...

                                             script_text
23375   The rivers edge ~ The rivers edge ~ ~ The end...
30493   The rivers edge ~ The rivers edge ~ ~ The end...

          movie_title movie_year  \
17003  The Lost World       1925
29621  The Lost World       1925

                                        springfield_link  \
17003  https://www.springfieldspringfield.co.uk/movie...
29621  https://www.springfieldspringfield.co.uk/movie...

                                             script_text
17003   Sir Arthur Conan Doyles Stupendous Story of A...
29621   For decades The Lost World could be seen only...

                     movie_title movie_year  \
19970  The Night of the Generals       1967
29990  The Night of the Generals       1967

                                        springfield_link  \
19970  https://www.springfieldspringfield.co.uk/movie...
29990  https://www.springfieldspringfield.co.uk/movie...

                                             script_text
19970   Take cover! Theres some more, over there! Bac...
29990   1 Take cover! Theres some more, over there! B...

        movie_title movie_year  \
2486   The Avengers       1998
27601  The Avengers       1998

                                        springfield_link  \
2486   https://www.springfieldspringfield.co.uk/movie...
27601  https://www.springfieldspringfield.co.uk/movie...

                                             script_text
2486    Extraordinary. To have that impact, he must h...
27601   Good morning, Constable. Well done, Steed. My...

      movie_title movie_year  \
9497  The Express       2008
9498  The Express       2008

                                       springfield_link  \
9497  https://www.springfieldspringfield.co.uk/movie...
9498  https://www.springfieldspringfield.co.uk/movie...

                                            script_text
9497   five yards apart, thats a football field. But...
9498   five yards apart, thats a football field. But...

           movie_title movie_year  \
31249  The Way We Were       1973
33602  The Way We Were       1973

                                        springfield_link  \
31249  https://www.springfieldspringfield.co.uk/movie...
33602  https://www.springfieldspringfield.co.uk/movie...

                                             script_text
31249   Who is it? Its Lieutenant Finley. Hes coming ...
33602   Who is it? Its Lieutenant Finley. Hes coming ...

        movie_title movie_year  \
9168   The Enforcer       1976
28479  The Enforcer       1976

                                        springfield_link  \
9168   https://www.springfieldspringfield.co.uk/movie...
28479  https://www.springfieldspringfield.co.uk/movie...

                                             script_text
9168    Where are you headed, little lady? Nowhere wi...
28479   Where you headed, little lady? Nowhere with y...

         movie_title movie_year  \
12856  Hollows Grove       2014
12857  Hollows Grove       2014

                                        springfield_link  \
12856  https://www.springfieldspringfield.co.uk/movie...
12857  https://www.springfieldspringfield.co.uk/movie...

                                             script_text
12856   1 If you are viewing this video, Then you are...
12857   1 If you are viewing this video, then you are...

                    movie_title movie_year  \
18470  The Million Dollar Hotel       2000
29814  The Million Dollar Hotel       2000

                                        springfield_link  \
18470  https://www.springfieldspringfield.co.uk/movie...
29814  https://www.springfieldspringfield.co.uk/movie...

                                             script_text
18470   # I have a lover, # A lover like no other. # ...
29814   # I have a lover, # A lover like no other. # ...

              movie_title movie_year  \
11687  The Great Outdoors       1988
28892  The Great Outdoors       1988

                                        springfield_link  \
11687  https://www.springfieldspringfield.co.uk/movie...
28892  https://www.springfieldspringfield.co.uk/movie...

                                             script_text
11687   You messed up the words, Ben. You messed up t...
28892   (# The Coasters: Yakety Yak) (Radio) # Take o...

      movie_title movie_year  \
10381  The Forger       2012
28676  The Forger       2012

                                        springfield_link  \
10381  https://www.springfieldspringfield.co.uk/movie...
28676  https://www.springfieldspringfield.co.uk/movie...

                                             script_text
10381   Ever think back on how you got somewhere, or ...
28676   Ever think back on how you got somewhere, or ...

       movie_title movie_year  \
15449  The Killers       1946
29305  The Killers       1946

                                        springfield_link  \
15449  https://www.springfieldspringfield.co.uk/movie...
29305  https://www.springfieldspringfield.co.uk/movie...

                                             script_text
15449   Ketchup. Whatll it be, gentlemen? I dont know...
29305   THE KILLERS Ketchup. Whatll it be, gentlemen?...

                 movie_title movie_year  \
26566  The Sugarland Express       1974
30865  The Sugarland Express       1974

                                        springfield_link  \
26566  https://www.springfieldspringfield.co.uk/movie...
30865  https://www.springfieldspringfield.co.uk/movie...

                                             script_text
26566   - Havent seen you here before. - I aint been ...
30865   Havent seen you|here before. Thats cause I ai...

         movie_title movie_year  \
3302   The Believers       1987
27685  The Believers       1987

                                        springfield_link  \
3302   https://www.springfieldspringfield.co.uk/movie...
27685  https://www.springfieldspringfield.co.uk/movie...

                                             script_text
3302    Mom? Knock, knock. It is too early for "Knock...
27685   Mom? Knock, knock. It is too early for "Knock...

                                   movie_title movie_year  \
30970  The Three Burials of Melquiades Estrada       2005
31630  The Three Burials of Melquiades Estrada       2005

                                        springfield_link  \
30970  https://www.springfieldspringfield.co.uk/movie...
31630  https://www.springfieldspringfield.co.uk/movie...

                                             script_text
30970   Theres some coyotes hopping around across the...
31630   bTheres some coyotes hopping around/b bacross...

             movie_title movie_year  \
31280  The Whistleblower       2010
33998  The Whistleblower       2010

                                        springfield_link  \
31280  https://www.springfieldspringfield.co.uk/movie...
33998  https://www.springfieldspringfield.co.uk/movie...

                                             script_text
31280   Hey, Kathy. Youre in a hurry. Wheres the fire...
33998   I have to get home. Mamas gonna kill me. No. ...

         movie_title movie_year  \
11742  The Grey Zone       2001
28917  The Grey Zone       2001

                                        springfield_link  \
11742  https://www.springfieldspringfield.co.uk/movie...
28917  https://www.springfieldspringfield.co.uk/movie...

                                             script_text
11742   You have anything to drink? Are you drinking ...
28917   You have anything to drink? Are you drinking ...

             movie_title movie_year  \
626    The ABCs of Death       2012
27449  The ABCs of Death       2012

                                        springfield_link  \
626    https://www.springfieldspringfield.co.uk/movie...
27449  https://www.springfieldspringfield.co.uk/movie...

                                             script_text
626     ( woman speaking on radio ) ( bird chirping )...
27449   It was not supposed to be like this. Ive been...

           movie_title movie_year  \
26367  The Story of Us       1999
30827  The Story of Us       1999

                                        springfield_link  \
26367  https://www.springfieldspringfield.co.uk/movie...
30827  https://www.springfieldspringfield.co.uk/movie...

                                             script_text
26367   I dont know why. Ive always been big on happy...
30827   I dont know why, Ive always been big on happy...

          movie_title movie_year  \
20089  The Ninth Gate       1999
30001  The Ninth Gate       1999

                                        springfield_link  \
20089  https://www.springfieldspringfield.co.uk/movie...
30001  https://www.springfieldspringfield.co.uk/movie...

                                             script_text
20089   Its an impressive collection. You have some v...
30001   Its an impressive collection. You have some v...

                       movie_title movie_year  \
10869  The Gamers: Dorkness Rising       2008
28732  The Gamers: Dorkness Rising       2008

                                        springfield_link  \
10869  https://www.springfieldspringfield.co.uk/movie...
28732  https://www.springfieldspringfield.co.uk/movie...

                                             script_text
10869   Turn! Nodwick. Stay here until we return! Aye...
28732   1 Turn! Nodwick. Stay here until we return! A...

             movie_title movie_year  \
6547   The Country Bears       2002
28143  The Country Bears       2002

                                        springfield_link  \
6547   https://www.springfieldspringfield.co.uk/movie...
28143  https://www.springfieldspringfield.co.uk/movie...

                                             script_text
6547    One, two, three. You cant sit around waiting|...
28143   One, two, three. You cant sit around waiting|...

              movie_title movie_year  \
26623  The Sun Also Rises       1957
30873  The Sun Also Rises       1957

                                        springfield_link  \
26623  https://www.springfieldspringfield.co.uk/movie...
30873  https://www.springfieldspringfield.co.uk/movie...

                                             script_text
26623   One generation passes away... and another gen...
30873   One generation passes away... and another gen...

       movie_title movie_year  \
31153  The V.I.P.s       1963
32946  The V.I.P.s       1963

                                        springfield_link  \
31153  https://www.springfieldspringfield.co.uk/movie...
32946  https://www.springfieldspringfield.co.uk/movie...

                                             script_text
31153   May I have your attention, please? Trans-Cana...
32946   May I have your attention, please? Trans-Cana...

              movie_title movie_year  \
3770  Black & White & Sex       2012
3771  Black & White & Sex       2012

                                       springfield_link  \
3770  https://www.springfieldspringfield.co.uk/movie...
3771  https://www.springfieldspringfield.co.uk/movie...

                                            script_text
3770   Everyone nice and civil. Thank you. And roll ...
3771   1 Everyone nice and civil. Thank you. And rol...

        movie_title movie_year  \
13778  The Imposter       2012
29162  The Imposter       2012

                                        springfield_link  \
13778  https://www.springfieldspringfield.co.uk/movie...
29162  https://www.springfieldspringfield.co.uk/movie...

                                             script_text
13778   I want to get a good picture, some more pictu...
29162   I want to get a good picture, some more pictu...

       movie_title movie_year  \
8671   The Duchess       2008
28411  The Duchess       2008

                                        springfield_link  \
8671   https://www.springfieldspringfield.co.uk/movie...
28411  https://www.springfieldspringfield.co.uk/movie...

                                             script_text
8671    Lord Thomas. Lord Henry. Lord Ambrose. Lord R...
28411   Lord Thomas. Lord Henry. Lord Ambrose. Lord R...

          movie_title movie_year  \
6443   The Contractor       2007
28127  The Contractor       2007

                                        springfield_link  \
6443   https://www.springfieldspringfield.co.uk/movie...
28127  https://www.springfieldspringfield.co.uk/movie...

                                             script_text
6443    Ah, James. Ali Mahmud Jahar. Remember him? Ye...
28127   Easy, baby. Hi, James. Ali Mahmoud Jahar. Rem...

      movie_title movie_year  \
3166   The Beaver       2011
27680  The Beaver       2011

                                        springfield_link  \
3166   https://www.springfieldspringfield.co.uk/movie...
27680  https://www.springfieldspringfield.co.uk/movie...

                                             script_text
3166    This is a picture of Walter Black, a hopeless...
27680   WALTER: (AS BEAVER) This is a picture of Walt...

                 movie_title movie_year  \
10209  The Flight of Dragons       1982
28644  The Flight of Dragons       1982

                                        springfield_link  \
10209  https://www.springfieldspringfield.co.uk/movie...
28644  https://www.springfieldspringfield.co.uk/movie...

                                             script_text
10209   Gorbash! Gorbash! Come! There was time betwee...
28644   Gorbash! Gorbash! Come! There was time betwee...

             movie_title movie_year  \
26201  The Station Agent       2003
30804  The Station Agent       2003

                                        springfield_link  \
26201  https://www.springfieldspringfield.co.uk/movie...
30804  https://www.springfieldspringfield.co.uk/movie...

                                             script_text
26201   The Station Agent Morning, professor. Good mo...
30804   1 Morning, Professor. Morning. [ Bell Tinkles...

      movie_title movie_year  \
8391     The Door       2012
28388    The Door       2012

                                        springfield_link  \
8391   https://www.springfieldspringfield.co.uk/movie...
28388  https://www.springfieldspringfield.co.uk/movie...

                                             script_text
8391    Hey, guys. Just watched a video sent to me by...
28388   Budapest, 1960s Good morning! Good morning! I...

      movie_title movie_year  \
13338  The Hunted       2003
29128  The Hunted       2003

                                        springfield_link  \
13338  https://www.springfieldspringfield.co.uk/movie...
29128  https://www.springfieldspringfield.co.uk/movie...

                                             script_text
13338   God said to Abraham, "Kill me a son." Abe say...
29128   God said to Abraham, "Kill me a son." Abe say...

             movie_title movie_year  \
18055  The Mayor of Hell       1933
29772  The Mayor of Hell       1933

                                        springfield_link  \
18055  https://www.springfieldspringfield.co.uk/movie...
29772  https://www.springfieldspringfield.co.uk/movie...

                                             script_text
18055   - Hows that? Thats pretty good. Hey, Stupe. -...
29772   - Hows that? - Thats pretty good. Hey, Stupe....

                 movie_title movie_year  \
778    The Adjustment Bureau       2011
27467  The Adjustment Bureau       2011

                                        springfield_link  \
778    https://www.springfieldspringfield.co.uk/movie...
27467  https://www.springfieldspringfield.co.uk/movie...

                                             script_text
778     Lets welcome our favorite alumnus, and the ne...
27467   Lets welcome our favorite alumnus, and the ne...

                        movie_title movie_year  \
24460  The Secret Lives of Dentists       2002
30601  The Secret Lives of Dentists       2002

                                        springfield_link  \
24460  https://www.springfieldspringfield.co.uk/movie...
30601  https://www.springfieldspringfield.co.uk/movie...

                                             script_text
24460   Teeth outlast everything. Death is nothing to...
30601   Teeth outlast everything. Death is nothing to...

        movie_title movie_year  \
22168  The Prestige       2006
30285  The Prestige       2006

                                        springfield_link  \
22168  https://www.springfieldspringfield.co.uk/movie...
30285  https://www.springfieldspringfield.co.uk/movie...

                                             script_text

In [12]:
# The door and the avengers are not duplicates but have the same name and year
# drop all other duplicates from the database and reset the index
jdrop = []
for j in duplicates.index:
    if j[0].lower() == 'the door' or j[0].lower() == 'the avengers':
        print(j[0])
    else:
        jdrop.append(df_orig.query('movie_title == @j[0] and movie_year == @j[1]').index[1])   
df_orig = df_orig.drop(jdrop,axis=0)
df_orig = df_orig.reset_index(drop=True)

The Avengers
The Door

In [65]:
# drop movies with less than 75 words 
# these scripts contain either none or "More Movie Scripts | Request a Movie Transcript"
df_orig['num_words'] = [len(jscript) for jscript in df_orig['script_text']]
df_orig = df_orig.drop(df_orig[df_orig['num_words'] < 75].index, axis = 0)
df_orig = df_orig.drop('num_words', axis = 1)
df_orig = df_orig.reset_index(drop=True)

## Synthesize film script dataset with IMDb dataset by assigning each movie in film script dataset an IMDb_id

### method a) match tables based on title name

In [ ]:
# preprocess movie script dataframe titles
df = df_orig.copy()
df['movie_title'] = df['movie_title'].str.lower()
df['movie_title'] = df['movie_title'].str.strip()
df['movie_year'] = df['movie_year'].astype(int)

In [ ]:
# load in IMDB database
path_to_tsv = 'C:\\Users\\Nick\\Documents\\DataScience\\databases\\IMDB_database\\2023_02_12_IMDbDataFiles\\titleBasics.tsv'
df_imdb = pd.read_csv(path_to_tsv, sep='\t')

# preprocess imdb data titles
df_imdb['primaryTitle'] = df_imdb['primaryTitle'].str.lower()
df_imdb['originalTitle'] = df_imdb['originalTitle'].str.lower()
df_imdb['startYear'] = df_imdb['startYear'].replace('\\N','0').astype(int)

In [ ]:
# took 272 minutes to run this code
tt_all = []
year_all = []
jredo = []
for j in range(len(df)):
    
    ij = df_imdb['primaryTitle'] == df.loc[j,'Movie Title']
    if(np.any(ij)):
        if(np.sum(ij) == 1):
            tt_all.append(df_imdb.loc[ij,'tconst'].values[0])
            year_all.append(df_imdb.loc[ij,'startYear'].values[0])
        if(np.sum(ij) > 1):
            # filter by titleType and year
            dfyear = df.loc[j,'Movie Year']
            dfyearp = dfyear+1
            dfyearm = dfyear-1
            df_title_year = df_imdb[ij].query("(titleType == 'movie' or titleType == 'tvMovie' or titleType == 'video') and (startYear == @dfyear or startYear == @dfyearp or startYear == @dfyearm)")
            if(len(df_title_year) == 1):
                tt_all.append(df_title_year['tconst'].values[0])
                year_all.append(df_title_year['startYear'].values[0])
            elif(len(df_title_year) > 1):
                if(len(df_title_year.query("titleType == 'movie' or titleType == 'tvMovie'")) == 1):
                    temp = df_title_year.query("titleType == 'movie' or titleType == 'tvMovie'")
                    tt_all.append(temp['tconst'].values[0])
                    year_all.append(temp['startYear'].values[0])                   
                else:
                    tt_all.append([j for j in df_title_year['tconst'].values[:]])
                    year_all.append(df_title_year['startYear'].values[0])
            else:
                jredo.append(j)
                tt_all.append('NULL')
                year_all.append('NULL')
    elif(np.any(df_imdb['originalTitle'] == df.loc[j,'Movie Title'])):
        ij = df_imdb['originalTitle'] == df.loc[j,'Movie Title']
        if(np.sum(ij) == 1):
            tt_all.append(df_imdb.loc[ij,'tconst'].values[0])
            year_all.append(df_imdb.loc[ij,'startYear'].values[0])
        if(np.sum(ij) > 1):
            # filter by titleType and year
            dfyear = df.loc[j,'Movie Year']
            dfyearp = dfyear+1
            dfyearm = dfyear-1
            df_title_year = df_imdb[ij].query("(titleType == 'movie' or titleType == 'tvMovie' or titleType == 'video') and (startYear == @dfyear or startYear == @dfyearp or startYear == @dfyearm)")
            if(len(df_title_year) == 1):
                tt_all.append(df_title_year['tconst'].values[0])
                year_all.append(df_title_year['startYear'].values[0])
            elif(len(df_title_year) > 1):
                if(len(df_title_year.query("titleType == 'movie' or titleType == 'tvMovie'")) == 1):
                    temp = df_title_year.query("titleType == 'movie' or titleType == 'tvMovie'")
                    tt_all.append(temp['tconst'].values[0])
                    year_all.append(temp['startYear'].values[0])                   
                else:
                    tt_all.append([j for j in df_title_year['tconst'].values[:]])
                    year_all.append(df_title_year['startYear'].values[0])
            else:
                jredo.append(j)
                # # display options to select from
                # print(df.loc[j,'Movie Title'], '--' + str(df.loc[j,'Movie Year']))
                # print(df_imdb.loc[ij,['tconst', 'titleType', 'primaryTitle', 'startYear']].reset_index())
                # time.sleep(1)
                # user_input = int(input("enter a value: "))
                # tt_all.append(df_imdb.loc[ij,'tconst'].values[user_input])
                # year_all.append(df_imdb.loc[ij,'startYear'].values[user_input])
                # print()
                tt_all.append('NULL')
                year_all.append('NULL')
    else:
        jredo.append(j)
        tt_all.append('NULL')
        year_all.append('NULL')

In [ ]:
# add tconst to dataframe 
df_orig['imdb_id'] = tt_all

# for multiple tconsts, keep only the first one in the list
df_orig['imdb_id'] = [jk.replace('[','').replace(']','').replace("'",'').split(', ')[0] if "['tt" in jk else jk for jk in df_orig['imdb_id'].tolist()]

# create IMDb link to movie based on imdb_id
df_orig['imdb_link'] = 'https://www.imdb.com/title/' + df_orig['imdb_id'] + '/'

# CHECKPOINT SAVE - save updated dataset that has been cleaned and contains IMDb_id
# df_orig.to_csv('data_cleaning_and_synthesis_out\\springfield_movie_scripts_2023_01_13_clean.csv')

## Synthesize film script dataset with tmdb dataset by assigning each movie in film scripts dataset the corresponding tmdb_id. Use tmdb API

### methoda a) call tmdb api using imdb_id

In [ ]:
tmdb_poster = []
imdb_id2 = []
tmdb_id = []
count = 0
for j, jtt in enumerate(df_orig["imdb_id"]):
    url = "https://api.themoviedb.org/3/movie/{}?api_key=075d83b3063def6fdd12763959a9086e&language=en-US".format(
        jtt
    )

    if j % 2000 == 0:
        print(j)
    try:
        data = requests.get(url)
        data.raise_for_status()
        data = data.json()
        tmdb_poster.append('https://image.tmdb.org/t/p/w500/' + data["poster_path"])
        tmdb_id.append(data["id"])
        imdb_id2.append(data["imdb_id"])
    except:
        tmdb_poster.append("NULL")
        tmdb_id.append(np.nan)
        imdb_id2.append(np.nan)
        count = count + 1
        # if(count%25 == 0):
        #     print(count)

In [5]:
# update df_orig
df_orig['tmdb_id'] = tmdb_id
df_orig['tmdb_poster_link'] = tmdb_poster
df_orig['imdb_id2'] = imdb_id2

In [6]:
# test to make sure that tmdb reported imdb_id matches imdb_id from IMDb dataset
df_test = df_orig.query("tmdb_poster_link != 'NULL'").copy()
print(len(df_test))
print(np.sum(df_test['imdb_id'] != df_test['imdb_id2']))
df_orig = df_orig.drop('imdb_id2', axis = 1)

30678
0

### method b) call tmdb (search) api using movie name

In [ ]:
tmdb_id = []
tmdb_poster = []
df_copy = df_orig[df_orig['tmdb_poster_link'] == 'NULL'].copy()
for j, movie_title in enumerate(df_copy['movie_title']): 
    url = "http://api.themoviedb.org/3/search/movie?api_key=075d83b3063def6fdd12763959a9086e&query={}".format(
        movie_title.replace(" ", "+")
    )
    if(j%500 == 0):
        print(j)
    try:
        data = requests.get(url)
        data.raise_for_status()
        data = data.json()
        if(data['total_results'] < 1):
            tmdb_id.append("NULL")
            tmdb_poster.append("NULL")           
        elif(data['total_results'] < 2):
            tmdb_id.append(data['results'][0]['id'])
            tmdb_poster.append(data['results'][0]['poster_path'])
        else:
            tmdb_id.append("NULL")
            tmdb_poster.append("NULL")    
            # print('input movie:' + movie_title)
            # for jj, jmovie in enumerate(data['results']):
            #     print(str(jj) + ': ' + jmovie['title'])

            # time.sleep(1)
            # user_input = int(input("enter a value (-1 returns null): "))
            # if user_input >= 0:
            #     tmdb_id.append(data['results'][user_input]['id'])
            #     tmdb_poster.append(data['results'][user_input]['poster_path'])
            # else:
            #     tmdb_id.append("NULL")
            #     tmdb_poster.append("NULL")    
    except:
        tmdb_id.append("NULL")
        tmdb_poster.append("NULL")

In [33]:
# update df_orig
tmdb_poster = [j if type(j) == str else 'NULL' for j in tmdb_poster]
df_orig.loc[df_copy.index,'tmdb_poster_link'] = ['https://image.tmdb.org/t/p/w500/' + jposter if jposter != 'NULL' else 'NULL' for jposter in tmdb_poster]
df_orig.loc[df_copy.index,'tmdb_id'] = tmdb_id

In [ ]:
# finally, attempt to back out imdb id if imdb_id is null but tmdb_id is known
# this method works well for movies that have quirky spelling or had title changes

df_orig['imdb_id'] = df_orig['imdb_id'].fillna('NULL')
df_copy = df_orig.query("imdb_id == 'NULL' and tmdb_id != 'NULL'").copy()

tmdb_poster = []
imdb_id2 = []
tmdb_id = []
for j, jtt in enumerate(df_copy["tmdb_id"]):
    url = "https://api.themoviedb.org/3/movie/{}?api_key=075d83b3063def6fdd12763959a9086e&language=en-US".format(
        jtt
    )

    if j % 2000 == 0:
        print(j)
    try:
        data = requests.get(url)
        data.raise_for_status()
        data = data.json()
        tmdb_poster.append('https://image.tmdb.org/t/p/w500/' + data["poster_path"])
        tmdb_id.append(data["id"])
        imdb_id2.append(data["imdb_id"])
    except:
        tmdb_poster.append("NULL")
        tmdb_id.append(np.nan)
        imdb_id2.append(np.nan)

In [58]:
# update df_orig
imdb_id2 = [j if type(j) == str else 'NULL' for j in imdb_id2]
imdb_id2 = ['NULL' if j == '' else j for j in imdb_id2]
df_orig.loc[df_copy.index,'imdb_id'] = imdb_id2
df_orig.loc[df_copy.index,'imdb_link'] = 'https://www.imdb.com/title/' + df_copy['imdb_id2'] + '/'

In [73]:
# do some final type casting for consistent outputs
df_orig['tmdb_id'] = df_orig['tmdb_id'].fillna(-1).astype(int)
df_orig.loc[df_orig['imdb_id'] == 'nan','imdb_id'] = 'NULL'
df_orig['imdb_link'] = df_orig['imdb_link'].fillna('NULL')
df_orig['tmdb_poster_link'] = df_orig['tmdb_poster_link'].fillna('NULL')
df_orig['imdb_link'] = ['NULL' if j == 'https://www.imdb.com/title/NULL/' else j for j in df_orig['imdb_link']]
df_orig.info()

In [111]:
# FINAL SAVE -- ALL OTHER CHANGES TO DATAFRAME WILL BE DONE INPLACE USING data_updating.ipynb notebook
df_orig.to_csv(
    "data_cleaning_and_synthesis_out\\springfield_movie_scripts_2023_01_13_clean.csv"
)